main {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.side-menu {
    display: flex;
    width: 30ch;
    flex-direction: column;
    padding: 0.5em 1em;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    z-index: 10;
    gap: 0.5em;
    transition: all 0.3s linear;
}

.main-center {
    background-color: #f4f4f2;
    flex: 1;
    padding: 2em 1em;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

html.collapse .side-menu {
    width: 8ch;
}

html.collapse  .side-menu-item__label {
    display: none;
}

.side-menu-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    cursor: pointer;
    padding: 0.2em 0.4em;
    background-color: transparent;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
}

.side-menu-item:hover {
    background-color: #c7b576;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    color: #fff;
}

.side-menu-item:hover svg {
    stroke: #fff;
}

.side-menu-item.selected,  .side-menu-item.selected svg {
    background-color: #c7b576;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    color: #fff;
    stroke: #fff;
}

.side-menu-item__icon {
    width: 2em;
    height: 2em;
}

.side-menu-item__label {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-left: 1em;
}

.side-menu-item__icon svg {
    transition: all .2s ease-in-out;
    stroke: #000;
    height: 2em;
    width: 2em;
}

.side-menu__toggle-btn {
    width: max-content
}

.side-menu__toggle-btn:hover {
    background-color: #f0efee;
    box-shadow: none;
    color: #000;
}

.side-menu__toggle-btn:hover svg {
    stroke: #000;
}

.dropdown-content {
    display: none;
}

.dropdown-content.show {
    display: block;
}

.btn {
    padding: 0.5em 0.8em;
    background-color: #c7b576;
    color: #fff;
    border-radius: 10px;
    transition: all .1s ease-in-out;
}

.btn:hover {
    background-color: #857a53;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.container {
    background-color: #fff;
    border: 0.8px solid #cacaca;
    border-radius: 10px;
}

.table {
    border-spacing: 0;
    width: max-content;
    min-width: 100%;
    table-layout: fixed;
}

thead {
    background-color: #cacaca;
}

thead th {
    border-bottom: 1px solid #cacaca;
    width: max-content;
    max-width: 1000px;
    text-align: left;
    padding: 0.7em 1em;
}

td {
    padding: 1em;
    width: max-content;
    max-width: 1000px;
    border-bottom: 1px solid #cacaca;
}

.image-td img {
    width: 100px;
}

.task-bar {
    padding: 1em 1em 1em 1.5em;
}

.action-icon {
    width: 1.2em;
}

.menu-list-container {
    position: relative;
    max-width: fit-content;
}

.menu-list {
    background-color: #fff;
    border: 0.8px solid #cacaca;
    border-radius: 10px;
    padding: 0.7em;
    display: none;
    width: max-content;
    flex-direction: column;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    position: absolute;
    top: 100%;
    left: 100%;
    gap: 0.2em;
    justify-content: center;
    opacity: 0;
    transition: all 0.3s ease-in-out;
}

.menu-list.show {
    display: flex;
    opacity: 1;
}

.menu-list__item {
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    gap: 5px;
    padding: 0.2em 0.4em;
    align-items: center;
    cursor: pointer;
    width: 100%;
}

.menu-list__item:hover {
    background-color: #f0eeee;
}

.menu-list__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1.2em;
}

.create-form-container {
    padding: 0.5em;
    margin-top: 1em;
    gap: 0.5em;
}

.text-field {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.text-field__label {
    font-size: 0.9rem;
    font-weight: 600;
}

.text-field__input {
    border: 1px solid #cacaca;
    border-radius: 5px;
    padding: 0.3em;
    height: 2.1em;
}

.text-field__input:focus {
    box-shadow: #c7b576 0px 0px 0px 2px;
}

.modal-backdrop {
   width: 100vw;
   height: 100vh;
   z-index: 100;
   backdrop-filter: blur(10px);
   display: none;
   position: absolute;
   justify-content: center;
   align-items: center;
}

.modal-backdrop.show {
    display: flex;
}

.modal {
    background-color: #fff;
    border: 0.8px solid #cacaca;
    border-radius: 10px;
    width: 40%;
    padding: 0.7em;
}

.ck-powered-by {
    display: none !important;
}

.editor-container {
    margin: 1em 0;
}

.field {
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.field__label {
    font-size: 0.9rem;
}

.field__content {
    font-weight: 700;
    font-size: 1.2rem;
}

.field__description {
    border: 1px solid #cacaca;
    border-radius: 5px;
    padding: 1em;
}

.show-slide {
    border: 1px solid #cacaca;
    border-radius: 5px;
    padding: 1em;
}

.admin-header {
    height: 3em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    z-index: 20;
    border: 1px solid rgba(27, 31, 35, 0.15);
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
.admin-header .logo {
    margin-left: 2em;
    font-weight: 700;
    font-size: 1.2rem;
}

.admin-header .avatar {
    margin-right: 2em;
    background-color: #000;
    color: #fff;
    padding: 0.2em;
    width: 3ch;
    height: 3ch;
    border-radius: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.password-field {
    border: 1px solid #cacaca;
    border-radius: 5px;
    padding: 0.3em;
    height: 2.1em;
    display: flex;
    flex-direction: row;
    position: relative;
}

.password-field__input {
    width: 80%;
}

.password-field__icon {
    width: 2em;
    padding: 0.2em;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}

.password-field__icon--eye-open {
    display: none;
}

.password-field.show .password-field__icon--eye-open {
    display: block;
}

.password-field.close .password-field__icon--eye-open {
    display: none;
}

.password-field.show .password-field__icon--eye-close {
    display: none;
}

.password-field.close .password-field__icon--eye-close {
    display: block;
}

.avatar-container {
    position: relative;
}

.avatar-container .menu-list {
    position: absolute;
    top: 120%;
    left: -150%;
    z-index: 10;
}