@font-face {
  font-family: "Inter";
  src: url("/public/fonts/Inter_28pt-Light.ttf");
  font-weight: 300;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("/public/fonts/Inter-Regular.ttf");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("/public/fonts/Inter_28pt-Medium.ttf");
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("/public/fonts/Inter_28pt-SemiBold.ttf");
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("/public/fonts/Inter-Bold.ttf");
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("/public/fonts/Inter_28pt-ExtraBold.ttf");
  font-weight: 800;
  font-display: swap;
}
