
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  width: 100vw;
  height: 100vh;
  font-size: 16px;
}

body {
  width: 100%;
  height: 100%;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  overflow: hidden;
}

select,
button,
input[type="submit"],
input[type="reset"],
input {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

li {
  margin: 0;
  padding: 0;
  text-indent: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit
}
